<%- include('../partials/header') %>

<header>
    <h1><%= article.title %></h1>
</header>
<div class="page-content">

<main>
    <section class="meta">
        <p class="date"><%= article.date.toDateString() %></p>
        <p class="author">By <strong><%= article.author %></strong></p>
    </section>
    <section class="article-body">
        <article>
            <% article.content.split('\n\n').forEach(paragraph => { %>
                <p><%= paragraph %></p>
            <% }) %>
        </article>
    </section>
</main>
</div>
<footer>
    <p>&copy; 2025 My Blog</p>
</footer>

<%- include('../partials/footer') %>
