<%- include('../partials/header') %>

<header>
    <h1>My Personal Blog</h1>
</header>

<div class="page-content">
    <main>
        <% if (articles.length >0) { %>
            <% articles.forEach(article => { %>
                <section class="post">
                    <h2><%= article.title %></h2>
                    <p class="date"><%= article.date.toDateString() %></p>
                    <p class="excerpt"><%= article.content.substring(0, 90) %>...</p>
                    <a href="/article/<%= article.id %>" class="read-more">Read More</a>
                </section>
            <% }) %>
        <% } else { %>
            <p>No articles found.</p>
        <% } %>
    </main>
</div>
    <footer>
        <p>&copy; 2025 My Blog</p>
    </footer>

    <%- include('../partials/footer') %>
